---
layout: default
description: Charts and stuff
---

<link rel="stylesheet" type="text/css" href="vendor/slick-carousel/slick.css">
<link rel="stylesheet" type="text/css" href="assets/slick-theme.css">
<script src="vendor/jquery/jquery.js"></script>
<script src="vendor/moment/moment.js"></script>
<script src="vendor/underscore/underscore.js"></script>
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script src="vendor/bootstrap-sass/javascripts/bootstrap.js"></script>
<script src="vendor/slick-carousel/slick.js"></script>
<script src="vendor/mathjs/math.min.js"></script>
<script src="js/data.js"></script>
<script src="js/headerShrink.js"></script>
<script src="js/milestonesCarousel.js"></script>

<div data-spy="scroll" data-target=".navbar" data-offset="150">

<nav class="row kpis navbar-nav navbar-fixed-top">
	<div class="container-fluid">
		<div class="nav col-xs-2 kpi">
			<a href="#age">
			{% if site.data.baby.picture_url %}
			<img src="{{ site.data.baby.picture_url }}" class="img-responsive circle" alt="Baby">
			{% elsif site.data.baby.gender == 'female' %}
			<img src="assets/images/baby-1.png" class="img-responsive" alt="Baby">
			{% else %}
			<img src="assets/images/baby.png" class="img-responsive" alt="Baby">
			{% endif %}
			</a>
			<h4 class="kpi-metric hidden-xs" id="ageKPI"></h4>
			<span class="kpi-description text-muted hidden-xs">Weeks old</span>
		</div>
		<div class="nav col-xs-2 kpi">
			<a href="#sleep">
			<img src="assets/images/crib-toy.png" class="img-responsive" alt="Sleep">
			</a>
			<h4 class="kpi-metric hidden-xs" id="sleepHoursKPI"></h4>
			<span class="kpi-description text-muted hidden-xs">Hours sleeping</span>
		</div>
		<div class="nav col-xs-2 kpi">
			<a href="#feedings">
			<img src="assets/images/feeding-bottle-1.png" class="img-responsive" alt="Feeding">
			</a>
			<h4 class="kpi-metric hidden-xs" id="feedingsKPI"></h4>
			<span class="kpi-description text-muted hidden-xs">Feedings</span>
		</div>
		<div class="nav col-xs-2 kpi">
			<a href="#diapers">
			<img src="assets/images/diaper.png" class="img-responsive" alt="Diaper">
			</a>
			<h4 class="kpi-metric hidden-xs" id="diapersKPI"></h4>
			<span class="kpi-description text-muted hidden-xs">Diapers changed</span>
		</div>
		<div class="nav col-xs-2 kpi">
			<a href="#baths">
			<img src="assets/images/bathtub.png" class="img-responsive" alt="Bath">
			</a>
			<h4 class="kpi-metric hidden-xs" id="bathsKPI"></h4>
			<span class="kpi-description text-muted hidden-xs">Baths</span>
		</div>
		<div class="nav col-xs-2 kpi">
			<a href="#growth">
			<img src="assets/images/body.png" class="img-responsive" alt="Growth">
			</a>
			<h4 class="kpi-metric hidden-xs" id="growthKPI"></h4>
			<span class="kpi-description text-muted hidden-xs">
			Bigger
			</span>
		</div>
	</div>
</nav>

<div class="sections">
<div id="age" class="container-fluid section">
	{% if site.data.milestones.size > 0 %}
	<div class="row">
		<div class="col-xs-12">
			<h2>Milestones</h2>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12">
			<div id="milestones">

			</div>
		</div>
	</div>
	{% endif %}

	<div class="row">
		<div class="col-xs-12">
			<h2>Recent Events</h2>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12">
			<div id="timeline" class="google-chart"></div>
		</div>
	</div>
</div>

<div id="sleep" class="container-fluid section">
	<div class="row">
		<div class="col-xs-12">
			<h2>Night Sleeps</h2>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12">
			<div id="nightSleepChart" class="google-chart"></div>
		</div>
	</div>

	<div class="row">
		<div class="col-xs-12">
			<h2>Day Naps</h2>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12">
			<div id="napsChart" class="google-chart"></div>
		</div>
	</div>

	<div class="row">
		<div class="col-xs-12">
			<h2>Total Sleep</h2>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12">
			<div id="sleepChart" class="google-chart"></div>
		</div>
	</div>
</div>

<div id="feedings" class="container-fluid section">
	<div class="row">
		<div class="col-xs-12">
			<h2>Feeding Frequency</h2>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12">
			<div id="feedingsChart" class="google-chart"></div>
		</div>
	</div>
</div>


<div id="growth" class="container-fluid section">
	<div class="row">
		<div class="col-xs-12">
			<h2>Weight compared to 25th and 75th percentiles</h2>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12">
			<div id="weightChart" class="google-chart"></div>
		</div>
	</div>
</div>

</div>

</div>

<script type="text/javascript">
google.charts.load('current', {packages: ['corechart', 'timeline']});
google.charts.setOnLoadCallback(drawCharts);

var metadata = new Metadata({{ site.data.baby | jsonify }});
var sleeps = new Sleeps({{ site.data.sleeps | jsonify }});
var feeds = new Feeds({{ site.data.feeds | jsonify }});
var excretions = new Excretions({{ site.data.excretions | jsonify }});
var journals = new Journals({{ site.data.journal_entries | jsonify }});
var growths = new Growths({{ site.data.growths | jsonify }});
{% if site.data.baby.gender == 'female' %}
var weightPercentiles = new GrowthPercentiles({{ site.data.who_growth_percentiles_girls | jsonify }});
{% else %}
var weightPercentiles = new GrowthPercentiles({{ site.data.who_growth_percentiles_boys | jsonify }});
{% endif %}

$("#ageKPI").html(metadata.ageInWeeks);
$("#sleepHoursKPI").html(Math.round(sleeps.totalHours));
$("#feedingsKPI").html(feeds.data.length);
$("#diapersKPI").html(excretions.data.length);
$("#bathsKPI").html(_.where(journals.data, {type: "Bath"}).length);
$("#growthKPI").html(growths.weightChange.toFixed(1) + "x");

var milestones = {{ site.data.milestones | jsonify }};
var milestonesCarousel;
if (milestones && milestones.length) {
	milestonesCarousel = new MilestonesCarousel(milestones, $("#milestones"));
}

function init() {
	addHeaderShrink();
	if (milestonesCarousel) {
		milestonesCarousel.draw();
	}
}

window.onload = init();

function drawCharts() {
	var lastDataDate = new Date(_.max([sleeps.largest('end', feeds.largest('end'))]));
	var timelineStart = new Date(lastDataDate.valueOf());
	timelineStart.setDate(lastDataDate.getDate() - 7); // 7 days before last event
	var timelineData = new TimelineData({Sleep: sleeps, Feeds:feeds, Diapers:excretions, Journal:journals}, timelineStart);

	var timeline = new google.visualization.Timeline(document.getElementById('timeline'));
	timeline.draw(timelineData.dataTable, {timeline: {showBarLabels:false}});

	var nightSleepChart = new google.visualization.SteppedAreaChart(document.getElementById('nightSleepChart'));

	var longestSleepsDataTable = sleeps.longestDurationsDataTable('Night');
	nightSleepChart.draw(longestSleepsDataTable, {
		isStacked: true,
		vAxis: {
			title: 'Hours'
		}
	});

	var napsData = sleeps.dataView(['day', 'type', 'durationHour']);
	napsData.setRows(napsData.getFilteredRows([{column: 1, value: 'Nap'}]));
	napsData = google.visualization.data.group(napsData.toDataTable(), [0], [
		{column: 2, label: 'Duration', aggregation: google.visualization.data.sum, type: 'number'},
		{column: 2, label: 'Count', aggregation: google.visualization.data.count, type: 'number'}
	]);

	var napsChart = new google.visualization.ComboChart(document.getElementById('napsChart'));
	napsChart.draw(napsData, {
		seriesType: 'bars',
		series: {1: {type: 'line', targetAxisIndex: 1}},
		vAxes: {
			0: {
				title: 'Hours'
			},
			1: {
				format: 'short'
			}
		}
	});

	var sleepData = sleeps.dataView(['day', 'durationHour']);
	sleepData = google.visualization.data.group(sleepData.toDataTable(), [0], [
		{column: 1, label: 'Duration', aggregation: google.visualization.data.sum, type: 'number'}
	]);

	var sleepChart = new google.visualization.ColumnChart(document.getElementById('sleepChart'));
	sleepChart.draw(sleepData, {
		vAxis: {
			title: 'Hours'
		}
	});

	var feedingsChart = new google.visualization.ComboChart(document.getElementById('feedingsChart'));
	feedingsChart.draw(feeds.medianTimeBetweenFeedings(), {
		seriesType: 'bars',
		series: {1: {type: 'line', targetAxisIndex: 1}},
		vAxes: {
			0: {
				title: 'Hours'
			},
			1: {
				format: 'short'
			}
		}
	});

	var weightChart = new google.visualization.LineChart(document.getElementById('weightChart'));
	var weightChartData = growths.weightWithPercentiles(weightPercentiles, metadata);
	var weightChartOptions = {
		curveType: 'function',
		interpolateNulls: true,
 		lineWidth: 4,
        intervals: { 'style':'area' },
        vAxis: {
			title: 'kg'
        }
	};
	weightChart.draw(weightChartData, weightChartOptions);
}

$(window).resize(drawCharts);

</script>
