<footer class="site-footer">

  <link rel="stylesheet" type="text/css" href="vendor/github-fork-ribbon-css/gh-fork-ribbon.css">

  <a class="github-fork-ribbon right-bottom fixed hidden-xs" href="{{ site.github_url }}" title="Fork me on GitHub">Fork me on GitHub</a>

  <div class="container">

      <div class="row">
        <p>{{ site.description | escape }}</p>
        <p>Icons made by <a href="http://www.freepik.com/">Freepik</a> from www.flaticon.com</p>
      </div>
    </div>

  </div>

</footer>
