---
# Custom SCSS
---
@charset "utf-8";

.github-fork-ribbon.right-bottom:before {
    background-color: #2ba5f7;
}

.google-chart {
	height: 300px;
	width: 100%;
	padding-left: 40px;
	padding-right: 40px;
}

.sections {
	padding-top: 150px;
}

.section {
	padding-top: 50px;
}

.kpis {
	margin-top: 30px;
	margin-bottom: 30px;
	text-align: center;
	height: 200px;
	background-color: white;
}

.kpi h4 {
	margin-bottom: 0;
}

.kpi {
	margin-bottom: 20px;
}

.kpi img {
	display: inline-block;
	max-height: 150px;
}

.kpi img.circle {
	border-radius: 50%;
}

nav {
	transition: height 0.3s;
}

nav h4 {
	transition-delay: visibility 0.1s;
	transition: visibility 0.1s;
}

nav span {
	transition: visibility 0.1s;
}

nav img {
	transition: max-height 0.3s;
}

nav.smaller {
	height: 50px;
}
nav.smaller .kpi img {
	max-height: 45px;
}

nav.smaller .kpi-metric {
	visibility: hidden;
}

nav.smaller .kpi-description {
	visibility: hidden;
}

$icon-font-path: '../vendor/bootstrap-sass/fonts/bootstrap/';


@import "bootstrap";

@media (max-width: $screen-sm) {
    body{font-size: 14px;}
}


@media (max-width: $screen-xs) {
    body{font-size: 10px;}
}

h4 {
    font-size: 1.4em;
}
