---
# Custom SCSS
---
@charset "utf-8";

.google-chart {
	height: 300px;
	width: 100%;
	padding-left: 40px;
	padding-right: 40px;
}

.kpis {
	margin-top: 30px;
	margin-bottom: 30px;
	text-align: center;
}

.kpi h4 {
	margin-bottom: 0;
}

.kpi {
	margin-bottom: 20px;
}

.kpi img {
	display: inline-block;
	max-height: 150px;
}

.kpi img.circle {
	border-radius: 50%;
}

@import "bootstrap";
