---
# Custom SCSS
---
@charset "utf-8";

.github-fork-ribbon.right-bottom:before {
	background-color: #2ba5f7;
}

.google-chart {
	height: 300px;
	width: 100%;
	padding-left: 40px;
	padding-right: 40px;
}

.sections {
	padding-top: 75px;
}

.section {
	padding-top: 40px;
}

.kpis {
	width: 100%;
	margin-top: 30px;
	margin-bottom: 30px;
	text-align: center;
	background-color: #A6C4DE;
	border-style: solid;
	padding-bottom: 5px;
}

.kpi h4 {
	margin-bottom: 0;
}

.kpi {
	margin-bottom: 20px;
}

.kpi img {
	display: inline-block;
	max-height: 150px;
}

.kpi img.circle {
	border-radius: 50%;
}

.kpi-metric {
	font-weight: bold;
}

nav {
	transition: height 0.3s;
}

nav h4 {
	transition-delay: visibility 0.1s;
	transition: visibility 0.1s;
}

nav span {
	transition: visibility 0.1s;
}

nav img {
	transition: max-height 0.3s;
}

nav.smaller {
	top: 0;
	position: fixed;
	height: 50px;
}
nav.smaller .kpi img {
	max-height: 45px;
}

nav.smaller .kpi-metric {
	visibility: hidden;
}

nav.smaller .kpi-description {
	visibility: hidden;
}

$icon-font-path: '../vendor/bootstrap-sass/fonts/bootstrap/';


@import "bootstrap";

@media (min-width: $screen-sm-min) {
	.sections {
		padding-top: 150px;
	}
}

@media (min-width: $screen-lg) {
	body{
		font-size: 14px;
	}

	.kpi-metric {
		font-size: 4.0em;
	}

	.sections {
		padding-top: 200px;
	}
}
