---
# Custom SCSS
---
@charset "utf-8";

.google-chart {
	height: 300px;
	width: 100%;
}

.metadata {
	margin-bottom: 30px;
}

.metadata img {
	height: 50px;
	width: 50px;
    border-radius: 50%;
}

.kpis {
	margin-bottom: 30px;
	text-align: center;
}

.kpi h4 {
	margin-bottom: 0;
}

.kpi {
	margin-bottom: 20px;
}

.kpi img {
    display: inline-block;
    height: 200px;
    width: 200px;
}

@import "bootstrap";
